<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.org.ala.ozatlas"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="au.org.ala.ozatlas"
        android:protectionLevel="signature" />
    <permission
        android:name="au.org.ala.ozatlas.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="au.org.ala.ozatlas.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="au.org.ala.ozatlas.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>                
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.ExploreYourAreaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_explore_your_area"
             >
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.SpeciesSearchActivity"
            android:label="@string/title_activity_species_search" >
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.ExploreGroupsActivity"
            android:label="@string/title_activity_explore_groups" >
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.ExploreGroupActivity"
            android:label="@string/title_activity_explore_group" >
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.SpeciesPageActivity"
            android:label="@string/title_activity_species_page"
            style="@style/species_page_style" >
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.RecordSightingActivity"
            android:label="@string/title_record_sighting"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.RecordLocationActivity"
            android:label="@string/title_record_location">
        </activity>
        <activity
            android:name="au.org.ala.ozatlas.LoginActivity"
            android:label="@string/title_login_activity">
        </activity>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyCyD75ig68FJJsU4gS7bYrhx_4_8MxvyK4"/>
        <!--  android:value="AIzaSyDOPFQ1cTfugt82nZw3WjOJr7g7W88KtNw" /> -->
        <activity
            android:name="au.org.ala.ozatlas.LatestImagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_latest_images"
            >
        </activity>
        
        <service 
            android:name=".UploadSightingService"
            android:label="UploadSightingService" >
            
        </service>
    </application>

</manifest>